@import "../colors";

.PaintingUpload {
  &__container {
    min-width: 56.25rem;
  }
  &__left {
    flex: 0 0 50%;
  }
  &__right {
    flex: 0 0 50%;
  }
  &__title {
    margin-top: 2rem;
    flex: 0 0 6rem;
  }
}
