@import "../../containers/colors";
.TamashiPopup {
  width: 18rem;

  background: white;
  color: $dBlack;
  padding: 1rem;
  z-index: 5;

  .top {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    .tamashi {
      color: $lRed;
      position: relative;
      flex: 0 0 auto;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: rgba($lSliver, 0.1);
      }
      .zmdi {
        margin-right: 0.2rem;
      }
    }
    .close {
      color: $dGrey;
    }
  }

  .section-xing, .section-qi {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .section-xing {
    color: $dYellow;
    > a {
      color: $dYellow;
    }
  }
  .section-qi {
    color: $dOrange;
    > a {
      color: $dOrange;
    }
  }

}
