@import "../../containers/colors";
@import "../../containers/basic";

.PaintingInfo {
  &__card {
    position: relative;
    max-height: 30rem;
    list-style: none;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: center;
    flex: 1 1 22rem;
    display: flex;
    flex-direction: column;
  }
  &__inner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__image-thumbnail {
    display: flex;
    vertical-align: middle;
    align-items: flex-end;
    flex: 1 1 auto;
    &_image {
      max-width: 20rem;
      max-height: 20rem;
      margin: 0 auto;
      position: relative;
      cursor: pointer;
      transition: box-shadow 0.2s ease-in;
      @extend .shadow_distance;
      &:hover{
        @extend .shadow_close;
      }
    }
  }
  &__intro {
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex: 0 0 auto;
    width: 100%;
    &_title {
      font-weight: bold;
      color: $lBlack;
      display: block;
    }
    &_nickname {
      display: block;
      color: $dGrey;
    }
    &_heat {
      display: block;
      color: $lRed;
      > .zmdi {
        margin-right: 0.2em;
      }
    }
  }
}

.PaintingInfo__thumbnail {
  //width: 20rem;
  list-style: none;
  margin-bottom: 1rem;
  //overflow: hidden;
  cursor: pointer;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  transform: translate(0, 0);

  &.isOpened {
    overflow: visible;
    z-index: 1;
    .bottomInfo, .topInfo {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .bumo_thumbnail {
    cursor: pointer;
    background-color: $dSliver;
  }

  &:hover {
    box-shadow: 0 40px 40px rgba(0,0,0,.16);
    transform: translate(0, -0.5rem);
    .bottomInfo, .topInfo {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .topInfo {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 4rem;
    padding-bottom: 2rem;

    width: 100%;
    background: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.6) 100%);
    transform: translate(0, -1rem);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .bottomInfo {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    height: 6rem;
    padding-top: 2rem;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 100%);
    transform: translate(0, 1rem);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

    display: flex;

    .left {
      flex: 1 1 auto;
      margin-left: 1rem;
      overflow: hidden;
      > a {
        display: block;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        font-weight: normal;
      }
    }

    .right {
      flex: 0 0 3rem;
      padding-right: 1rem;
    }
  }

  .title, .nickname {
    color: white;
    margin-bottom: 0.2rem;
    margin-right: 1rem;
    transition: background-color 0.1s linear;
    &:hover {
      background-color: rgba($lSliver, 0.1);
    }
  }

  .avatar {
    position: relative;
    bottom: -1.3rem;
    > img, svg {
      border-radius: 100%;
      width: 2rem;
    }
  }

  .heat {
    position: relative;
    font-size: 1.5rem;
    font-weight: normal;
    color: $lRed;
    flex: 0 0 auto;
    margin: 0.75rem 0.8rem;
    padding: 0.1rem 0.2rem;
    transition: background-color 0.1s linear;
    &:hover {
      background-color: rgba($lSliver, 0.1);
    }
    .zmdi {
      margin-right: 0.2em;
    }
  }

  .buttons {
    flex-grow: 0;
  }
}
