@import "../colors";

.PaintingModal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(black, 0.7);
  overflow: auto;
  > .previous, > .next {
    position: absolute;
    height: 80%;
    top: 10%;
    width: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
    .zmdi {
      width: 100%;
      font-size: 4rem;
      color: $dGrey;
      transition-property: color, text-shadow;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
    &:hover {
      .zmdi {
        color: white;
        text-shadow: 0 1px 2px #333;
      }
    }
  }
  > .previous {
    left: 0;
    padding-left: 0.5rem;
  }
  > .next {
    right: 0;
    padding-right: 0.5rem;
    text-align: right;
  }
  > .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    font-size: 3rem;
    line-height: 1;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 100%;
    .zmdi {
      color: $lSliver;
      text-shadow: 0 1px 2px #333;
      transition-property: color, text-shadow;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
    &:hover {
      .zmdi {
        color: white;
        text-shadow: 0 1px 2px #333;
      }
    }
  }
  &__transition-wrapper {
    position: relative;
    min-height: 100%;
    top: 2rem;
    width: calc(100vw - 5rem);
    left: 2rem;
    margin-bottom: 2rem;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
}

.PaintingModalTransition {
  &-enter {
    opacity: 0.01;
    transform: translateY(10px);
  }

  &-enter.PaintingModalTransition-enter-active{
    opacity: 1;
    transform: translateY(0);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in;
  }

  &-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &-leave.PaintingModalTransition-leave-active {
    opacity: 0.01;
    transform: translateY(10px);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in;
  }
}

.PaintingModalSwitchTransitionRight {
  &-enter {
    opacity: 0.2;
    transform: translateX(50px) scale(0.95);
    position: absolute;
  }

  &-enter.PaintingModalSwitchTransitionRight-enter-active{
    opacity: 1;
    transform: translateX(0px) scale(1);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
  }

  &-leave {
    opacity: 1;
    transform: translateX(0px) scale(1);
    position: absolute;
  }

  &-leave.PaintingModalSwitchTransitionRight-leave-active {
    opacity: 0.2;
    transform: translateX(-50px) scale(0.95);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
  }
}

.PaintingModalSwitchTransitionLeft {
  &-enter {
    opacity: 0.2;
    transform: translateX(-50px) scale(0.95);
    position: absolute;
  }

  &-enter.PaintingModalSwitchTransitionLeft-enter-active{
    opacity: 1;
    transform: translateX(0px) scale(1);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
  }

  &-leave {
    opacity: 1;
    transform: translateX(0px) scale(1);
    position: absolute;
  }

  &-leave.PaintingModalSwitchTransitionLeft-leave-active {
    opacity: 0.2;
    transform: translateX(50px) scale(0.95);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
  }
}
