@import "../../containers/colors";
@import "../../containers/basic";

.PaintingDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  &.inModal {
    .go_previous, .go_next {
      display: none !important;
    }
  }
  &__top {
    display: flex;
    width: 100%;
    background-color: #222;
  }
  &__bottom {
    background: $background;
  }
  &__fans {
    padding: 3rem;
    &-title {
      margin-bottom: 1rem;
    }
    &-wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__fan {
    flex: 0 0 auto;
    background: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(31, 45, 61, .1);
    margin-right: 2rem;
    margin-bottom: 2rem;
    &:hover {
      box-shadow: 0 1px 2px 0 rgba(31, 45, 61, .3);
      transition: box-shadow 0.2s ease-in;
    }
    &-avatar {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      margin-right: 1rem;
      border: 1px white solid;
      svg {
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
    }
    &-amount {
      color: $lRed;
    }
  }
  .leftPanel {
    position: relative;
    height: calc(100vh - 3rem);
    max-height: calc(100vh - 3rem);
    background-color: #222;
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    .image {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      height: 100%;
      max-height: 100%;
    }
    .go_previous, .go_next {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      z-index: 1;
      width: 20%;
      top: 0;
      &.disabled {
        pointer-events: none;
        opacity: 0.2;
      }
      .zmdi {
        width: 100%;
        font-size: 4rem;
        color: $dGrey;
        transition-property: color, text-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
      }
      &:hover {
        .zmdi {
          color: white;
          text-shadow: 0 1px 2px #333;
        }
      }
    }
    .go_previous {
      left: 0;
      padding-left: 2rem;
    }
    .go_next {
      right: 0;
      padding-right: 2rem;
      text-align: right;
    }
  }
  .rightPanel {
    flex: 0 0 18rem;
    background: $background;
    position: relative;
    overflow: hidden;
    .userInfo {
      position: relative;
      height: 10rem;
      overflow: hidden;
      &:hover {
        > .avatarImage > img, > .avatarImage svg {
          transform: translate(0, -0.2rem);
        }

        .nickname, .introduction {
          transform: translate(0, -0.2rem);
        }

        .bannerBackground {
        }
      }
      > .avatarImage {
        > img, svg {
          position: absolute;
          left: 1rem;
          bottom: 1rem;
          width: 4rem;
          height: 4rem;
          border: 2px solid white;
          border-radius: 100%;
          z-index: 3;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease-in;
          transform: translate(0, 0);
        }
      }
      .bannerBackground {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
      }
      .background {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(-180deg, rgba(87, 113, 136, 0.00) 0%, rgba(62, 83, 103, 0.00) 20%, rgba(44, 62, 80, 0.9) 100%);
        //background: rgba($lBlack, 0.7);
        z-index: 2;
      }
      .nickname {
        position: absolute;
        bottom: 2.5rem;
        left: 6rem;
        width: 100%;
        text-align: left;
        z-index: 2;
        font-weight: normal;
        text-shadow: 1px 1px 2px rgba($lBlack, 0.6);
        > a {
          color: $lSliver;
          &:hover {
            color: white;
          }
        }
        transform: translate(0, 0);
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease-in;
      }
      .introduction {
        font-size: 0.9rem;
        position: absolute;
        color: white;
        bottom: 1rem;
        width: 11rem;
        text-align: left;
        left: 6rem;
        z-index: 2;
        font-weight: 300;
        text-shadow: 1px 1px 2px rgba($lBlack, 0.6);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        > a {
          color: $lSliver;
          &:hover {
            color: white;
          }
        }
        transform: translate(0, 0);
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease-in;
      }
      .heat{
        font-size: 1rem;
        position: absolute;
        color: $lRed;
        bottom: 1rem;
        width: 11rem;
        text-align: left;
        right: -6rem;
        z-index: 2;
        font-weight: 300;
        text-shadow: 1px 1px 2px rgba($lBlack, 0.6);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        > a {
          color: $lSliver;
          &:hover {
            color: white;
          }
        }
        transform: translate(0, 0);
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease-in;
      }
    }
    .info {
      margin-left: 1rem;
      margin-right: 1rem;
      .title {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
      .description {
        font-weight: 300;
        margin-bottom: 2rem;
        font-size: 14px;
      }
      .infoGroup {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        > label {
          font-size: 1rem;
          position: relative;
          margin-bottom: 1rem;
          color: $dGrey;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 70%;
            border-bottom: 1px solid $dGrey;
            left: 0;
          }
        }
        .heat {
          border-color: $dRed;
          color: $dRed;
          margin: 0;
          &:hover {
            border-color: $lRed;
            color: $lRed;
          }
          & > .zmdi {
            padding-right: 3px;
          }
        }
      }
      .tagLabel {
        line-height: 1;
        margin-bottom: 0.5rem;
        font-weight: bold;
        > a {
          display: flex;
        }
        .icon {
          padding-right: 0.5rem;
        }
        .name {
          flex: 0 0 8rem;
          padding-right: 1rem;
          @extend .ellipses;
        }
        .type {
          flex: 1 1 5rem;
          padding-right: 1rem;
          color: $lGrey;
          @extend .ellipses;
        }
        .heat {
          flex: 1 1 6rem;
          color: $lRed;
          @extend .ellipses;
        }
      }
    }
  }
  &__image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    > img {
      min-height: 100%;
      min-width: 0;
    }
    &_landscape {
      flex-direction: row;
      > img {
        min-height: 0;
        min-width: 100%;
      }
    }
  }
  &__image-full {
    max-height: 100%;
    max-width: 100%;
  }
  &__image_preload {
    max-width: 100%;
    max-height: 100%;
  }
}
