@import "../colors";

#main-header {
  height: 3em;
  max-height: 3em;
  min-height: 3em;
  position: relative;
  background-image: linear-gradient(#2C3E50 0%, #34495E 100%);
  display: flex;
  align-items: center;
  .logo{
    flex: 0 0 12rem;
    position: relative;
    left: 0.5rem;
    top: 0.25rem;
    svg{
      height: 2rem;
      font-style: normal;
      transition: opacity 0.3s ease-in;
    }
    &:hover{
      svg{
        opacity: .8;
      }
    }
  }
  .nav-section{
    flex: 1 0 auto;
    display: flex;
    .nav-item{
      flex: 0 0 5rem;
      color: white;
      font-size: 18px;
      text-align: center;
      position: relative;
      &:after{
        content: ' ';
        transition: background-color 0.3s ease-in;
        height: 0;
      }
      &:hover{
        color: $lSliver;
        &:after{
          content: ' ';
          width: 5rem;
          height: 3px;
          background-color: rgba($lGreen, 0.8);
          position: absolute;
          left: 0;
          bottom: -8px;
        }
      }
      &.active{
        &:after{
          content: ' ';
          width: 5rem;
          height: 3px;
          background-color: $lGreen;
          position: absolute;
          left: 0;
          bottom: -8px;
        }
      }
    }
    .zmdi{
      padding-right: 0.25rem;
    }
  }
}

#search-bar {
  position: relative;
  flex: 0 0 16rem;
  height: 2rem;
  overflow: hidden;
  padding: 0;
  .zmdi-search {
    color: $dSliver;
    position: absolute;
    top: 0.5em;
    left: 0.75em;
  }

  .search-input {
    border: 0;
    height: 2em;
    text-indent: 1.5em;
    overflow: hidden;
    background-color: #1C2833;
    transition: background-color 0.1s ease-in;
    &:focus {
      background-color: white;
    }
  }

  .searchLabel {
    background: white;
    position: absolute;
    min-width: 8rem;
    z-index: 2;
    left: 0.5rem;
    top: 0.65rem;

    transform: translate(0, 0);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;

    .zmdi {
      font-size: 1.5rem;
    }

    .zmdi-label {
      color: $lGreen;
      padding-left: 0.5rem;
    }

    .zmdi-labels {
      color: $lGrey;
      padding-left: 0.5rem;
    }

    .tagContent {
      position: relative;
      font-size: 1.5rem;
    }

    .name {
      color: $lGreen;
      margin-left: 0.5em;
    }

    .type {
      color: $lGrey;
      margin-left: 0.5em;
    }
    .heat {
      color: $lRed;
      margin-left: 0.5em;
    }
  }
}

.user-notification-panel {
  display: flex;
  flex: 0 0 18rem;
  > .item {
    cursor: pointer;
    flex: 0 0 5rem;
    color: white;
    text-align: center;
    justify-content: space-between;
    &:hover{
      color: $dSliver;
    }
  }
  .secondary-color {
    color: white;
  }
}
