@import "../colors";

.DepositList{
  &_title{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
  }
  &_rowContainer{
    border-bottom: thin;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }
  &_date{
    flex:0 0 25%;
    padding-left: 4rem;
  }
  &_number{
    flex:0 0 35%;
  }
  &_money{
    flex:0 0 20%;
  }
  &_status{
    flex:0 0 20%;
  }
  &__heat {
    color: $lRed;
    font-size: 0.8em;
    > .zmdi {
      padding-right: 0.3rem;
      padding-left: 1rem;
    }
  }
}


