.Home{
  width: 100%;
  backface-visibility: hidden;
  > h1, >p {
    padding-left: 2rem;
  }

  .paintingInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    .paintings{
      padding: 2rem;
      flex: 0 0 25%;
    }
  }
}
