.Home{
  width: 100%;
  position: relative;

  > h1, >p {
    padding-left: 2rem;
  }

  .NavControls{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .ListModeDropdown{
    top: 33px;
    right: 102px;
  }
}
