$darkRed: #B18A8D;
$lightYellow: #FFF9FA;
$sakura: #FEDFE1;
$shiRoNeRi: #FCFAF2;
$roKuSyoh: #24936E;
$darkFont: #3D3C3A;
$errorRed: #A05450;
$brightGreen: #37DFA7;

$lightGrey: #AABCB6;
$darkGrey: #707C78;
$brightGrey: #E4FCF4;
$likeBlack: #373D3B;
$kindaGeryGreen: #CDE2DB;

$mainGreyGreen: #6E9387;
$darkBlue: #7095A0;
$darkGreenBlue: #77AAA7;
$greyBlue: #77AA8B;
$darkGreen: #70A075;

$lCyan: #1abc9c;
$dCyan: #16a085;
$lGreen: #2ecc71;
$dGreen: #27ae60;
$lBlue: #3498db;
$dBlue: #2980b9;
$lPurple: #9b59b6;
$dPurple: #8e44ad;
$lBlack: #34495e;
$dBlack: #2c3e50;
$lYellow: #f1c40f;
$dYellow: #f39c12;
$lOrange: #e67e22;
$dOrange: #d75600;
$lRed: #e74c3c;
$dRed: #d14233;
$lSliver: #ecf0f1;
$dSliver: #bdc3c7;
$lGrey: #95a5a6;
$dGrey: #7f8c8d;
$llBlue: #EBF2FA;
$background: #f4f4f4;
