.Home{
  width: 100%;
  position: relative;

  > h1, >p {
    padding-left: 2rem;
  }

  .NavControls{
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 1;
  }

  .ListModeDropdown{
  }
}
