@import "../../containers/colors";

.MainFooter {
  &__container{
    height: 4rem;
    max-height: 4rem;
    flex: 0 0 4rem;
    padding: 1rem;
    border-top: 2px solid $lSliver;
    overflow: hidden;
    display: flex;
    background-color: white;
    &.is-redirect-page {
      display: none;
    }
  }
  &__left {
    flex: 1 1 auto;
  }
  &__right {
    flex: 0 1 auto;
  }
}
