@import '../colors';
@import "../basic";
.Login {
  .captcha {
    margin-bottom: 1rem;
  }
  .error {
    position: relative;
    margin-top: -0.75rem;
    color: $dRed;
  }
  .close{
    @extend .modalCloseButton
  }
}
