@import "../colors";

.App {
  &__container {
    position: relative;
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    min-height: 100vh;
  }
  &__page{
    flex: 1 1 auto;
  }
}

.isModalOpen {
  overflow: hidden;
  .NavControls__sticky{
    display: none;
  }
}
