@import "../colors";

.App {
  &__container {
    overflow: hidden;
    display: block;
    position: relative;
    min-height: 100vh;
  }
  &__page{
    min-height: calc(100vh - 7rem);
  }
}

.isModalOpen {
  overflow: hidden;
  .NavControls__sticky{
    display: none;
  }
}
