@import "../colors";

.App {
  flex-direction: row;
  position: relative;
  .Content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
  }
}

.isModalOpen {
  overflow: hidden;
}
