@import '../colors';

.UserPainting {
  .top {
    position: relative;
    .banner {
      position: relative;
      height: calc(100vh - 7rem);
      overflow: hidden;
      .bannerBackground {
        width: 100%;
        height: calc(100% + 3rem);
        background-size: cover;
        background-position: 50%;
        position: relative;
        top: -3rem;
      }
      .bannerUploadButton {
        position: absolute;
        right: 3rem;
        top: 3rem;
      }
    }
    .avatarImage {
      > img, svg {
        position: absolute;
        left: 7%;
        top: calc(100vh - 11rem);
        width: 8rem;
        height: 8rem;
        border: 2px solid white;
        border-radius: 100%;
        z-index: 1;
      }
      &:hover{
        .avatarUploadButton {
          display: block;
        }
      }
    }
    .avatarUploadButton {
      display: none;
      position: absolute;
      left: 7rem;
      bottom: 3rem;
      z-index: 3;
    }
    .nickname {
      position: absolute;
      font-size: 2rem;
      z-index: 1;
      top: calc(100vh - 7rem);
      left: 16rem;
    }
    .profileHeat {
      position: absolute;
      font-size: 1.5rem;
      color: $lRed;
      top: calc(100vh - 6.25rem);
      right: 8rem;
    }
    .introduction {
      position: relative;
      padding-left: 16rem;
      padding-right: 8rem;
      padding-top: 3.25rem;
      font-size: 1.2rem;
    }
    .NavControls {
      margin-top: 5rem;
    }
  }
}
