@import '../colors';

.UserPainting {
  .top {
    position: relative;
    .banner {
      position: relative;
      height: calc(100vh - 7rem);
      overflow: hidden;
      .bannerBackground{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        transition: transform 0.2s linear;
      }
    }
    .avatarImage {
      > img, svg {
        position: absolute;
        left: 7%;
        top: calc(100vh - 11rem);
        width: 8rem;
        height: 8rem;
        border: 2px solid white;
        border-radius: 100%;
        z-index: 1;
      }
    }
    .nickname {
      position: absolute;
      font-size: 2rem;
      z-index: 1;
      top: calc(100vh - 7rem);
      left: 16rem;
    }
    .profileHeat {
      position: absolute;
      font-size: 1.5rem;
      color: $lRed;
      top: calc(100vh - 6.25rem);
      right: 8rem;
    }
    .introduction {
      position: relative;
      padding-left: 16rem;
      padding-right: 8rem;
      padding-top: 3.25rem;
      font-size: 1.2rem;
    }
    .NavControls{
      margin-top: 5rem;
    }
  }
}
